// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";

// Roboto
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

// Roboto Slab
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");

// Roboto Mono
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");

// Open Sans
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

// Poppins
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

// Unica One
@import url("https://fonts.googleapis.com/css2?family=Unica+One&display=swap");

// Montserrat
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

// Noto Sans
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

// Nunito
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

/* OUTFIT */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

/* 

  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;


*/

html {
	// min-height: 100dvh;

	margin: 0px;
	padding: 0px;
	box-sizing: border-box;

	padding: 0.01px;
}

body {
	// min-height: 100dvh;

	margin: 0px;
	padding: 0px;
	box-sizing: border-box;

	overflow: hidden;

	padding: 0.01px;
}

#root {
	/* if there is scroll problem, comment out this height. */
	height: 100svh;

	margin: 0px;
	padding: 0px;
	box-sizing: border-box;

	padding: 0.01px;
}

*,
*::after,
*::before {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
